* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #0059ff;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    text-decoration: underline;
}

.logo {
    width: 60px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    
    bottom: 0;
    width: 100%;
}


.container {
    max-width: 1200px; /* Largura máxima do site */
    margin: 0 auto; /* Centraliza na tela */
    padding: 20px; /* Espaçamento interno */
}

@media (max-width: 1300px) {
    .container {
        max-width: 90%; /* Para telas menores, usa 90% da largura */
    }
}
